@inject Blazor.Blog.Client.Services.IBlogService BlogService
<h3>BlogPost</h3>

@foreach (var post in Posts)
{
	<div class="m-2">
		<h4>@post.Title</h4>
		<p>
			@post.Description
		</p>
		<div><a href="/posts/@post.Url">Read More...</a></div>
	</div>
}

@code {
	private List<BlogPost> Posts = new List<BlogPost>();

	protected override async Task OnInitializedAsync()
	{
		Posts = await BlogService.GetBlogPosts();	
	}
}