@page "/"

<AuthorizeView >
	<Authorized>
		<h1>Hi, @context.User.Identity.Name. Welcome back!</h1>
		Let's publish another a <a href="create">new blog</a>.
		<br /><br />

		<BlogPosts />
	</Authorized>
	<NotAuthorized>
		<h1>Hello, world!</h1>

		Welcome to your new app.

		<BlogPosts />
	</NotAuthorized>
</AuthorizeView>


